@charset "utf-8";

/* Eric meyer reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;} 
caption, legend{display:none}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

html { -webkit-text-size-adjust: 100%; }
body {color:#333;font-size:12px;font-family:Montserrat,arial,malgun gothic,sans-serif,'맑은 고딕','Dotum',Gulim,'굴림';}
ol, ul { list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing:0;}
table th{font-weight:normal;}
em{font-style:normal;}
hr{display:none;}

/* project styling setting */
img, select, textarea, input, label{vertical-align:middle;}
select, textarea, input, label{vertical-align:middle;color:#333;font-size:12px;font-family:Montserrat,arial,malgun gothic,sans-serif,'맑은 고딕','Dotum',Gulim,'굴림';}

/* link styling setting */
a:link {text-decoration:none;color:#333;}
a:visited{text-decoration:none;color:#333;}
a:hover{text-decoration:none;color:#333;}
a:active{text-decoration:none;color:#333;}
